.cnt-inf{
    max-width: 1200px;
    margin: auto;
    
    .inf{
        margin-top: 50px;
        margin-bottom: 50px;
        h2{
            font-family: roboto;
            padding-bottom: 5px;
            font-size: 40px;
            text-align: center;
        }
        .content{
            align-items: center;
            display: flex; 
            p{
                font-family: roboto;
                font-size: 18px;
                padding-left: 50px;
                text-align: justify;
                padding-right: 50px;
            }
            img{
                border-radius: 20px;
                width: 350px;
                height: 350px;
                margin-right: 80px;
            }
        }
    }
    
}



@media  screen and (max-width:768px){
    .cnt-inf{
        .inf{
            margin-top: 50px;
            margin-bottom: 50px;
            
            h2{
                font-family: roboto;
                padding-bottom: 5px;
                font-size: 40px;
                text-align: center;
            }
            .content{
                align-items: center;
                display: block;
                text-align: center;
                
                p{
                    font-family: roboto;
                    font-size: 18px;
                    padding-left: 50px;
                    text-align: justify;
                    padding-right: 50px;
                }
                img{
                    border-radius: 20px;
                    width: 350px;
                    height: 350px;
                    margin-right: 0px;
                    
                }
            }
        }
        
    }
    
}