@import "header";
@import "banner";
@import "info";
@import "contact";
@import "card";
@import "carrusel";
@import "servicios";
@import "footer";


*{
    padding: 0;
    margin: 0;
    
}

body{
    background: white;
}
html{
    scroll-behavior: smooth;
}